.bg-custom {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 100vh;
    padding: 20px 8px
}

.card {
    max-width: 700px;
    min-height: 400px;
    margin: auto;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid #ddd;
}

.status-button {
    border-radius: 50px;
    padding: 5px 15px;
    max-width: 80px;
    min-height: 22px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

th.id {
    width: 59px;
    height: 82px;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
}

th.username {
    width: 244px;
    height: 82px;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;


}

th.designation {
    width: 244px;
    height: 82px;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
}

th.status {
    width: 244px;
    height: 82px;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
}

th.action {
    width: 57px;
    height: 82px;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
}

th,
td {
    width: 15px;
    height: 76px;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    vertical-align: middle !important;
    text-align: left;
}

th.username,
td.username,
th.designation,
td.designation,
th.status,
td.status,
th.action,
td.action th.id,
td.id {
    text-align: left;

}

.table tbody tr:first-child {
    background-color: #FFFFFF;
}



.bu,
.bu3 {
    font-size: 12px;
    font-weight: 600;
    line-height: 8px;
    background-color: #A5E4C2;
    color: #00602C;
    border: none;
}

.bu:hover,
.bu3:hover {
    background-color: #81d4a0;
    color: #004d1f;
}

.bu2 {
    font-size: 12px;
    font-weight: 600;
    line-height: 8px;
    background-color: #E4D6A5;
    color: #604B00;
}

.bu2:hover {
    background-color: #d1c292;
    color: #4d3a00;
}

.bu4 {
    font-size: 12px;
    font-weight: 600;
    line-height: 8px;
    background-color: #CFCFCF;
    color: #003260;
}

.bu4:hover {
    background-color: #CFCFCF;
    color: #003260;
}

.bu5 {
    font-size: 12px;
    font-weight: 600;
    line-height: 8px;
    background-color: #E4A5A5;
    color: #600000;
}

.bu5:hover {
    background-color: #E4A5A5;
    color: #600000;
}

.dropdown-menu {
    min-width: 100px;
    max-height: 150px;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item i {
    margin-right: 5px;
}

.dropdown-toggle,
.dropdown-item i {
    cursor: pointer !important;
}

